body {
    display: none;
}
body.show {
    display: block;
}
.password {
    margin: auto;
    width: 50%;
    text-align: center;
}
.password input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #f1f1f1;
    background-color: #f9f9f9;
}
.password input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}